body{
    background-color: yellowgreen;
}
.p1{
    border: 5px solid black;
}
.div1{
    display: flex;
    justify-content: space-between;
}
.div2{
    width: 600px;
}
.div3{
    width: 400px;
    height: 100px;
    object-fit: cover;
}
.div4 > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.skills{
    color: wheat;
    padding: 5px;
}
.about{
    color: wheat;
    padding: 5px;
}
.courses{
    color: wheat;
    padding: 5px;
}
.education{
    color: wheat;
    padding: 5px;
}
li{
    list-style-type: '🚀';
}
.link1{
    background-color: yellow;
}