body{
    background-color: red;
}
.p1{
    border: 5px solid black;
}
.div1{
    display: flex;
    justify-content: space-between;
}
.div3{
    width: 400px;
    height: 100px;
    object-fit: cover;
}
.div4 > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}